html,
body,
section,
main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.main-wrapper {
  position: relative;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  /* background: #5c5467; */
  height: auto;
  min-height: 100%;
}

a {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  color: #7a6a80;
  text-decoration: underline;
  position: relative;
  top: 1px;
}

a:active {
  color: #7a6a80;
  text-decoration: underline;
  position: relative;
  top: 2px;
}

a:visited {
  text-decoration: underline;
}

/* header section with mountains */
.hero {
  position: absolute;
  width: 100%;
}

.hero .gradient {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
  background: linear-gradient(180deg, #7a6a80 0%, #5c5467 500%);
}

.hero .mountains {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.hero .back {
  top: 100px;
  z-index: -3;
  filter: blur(1px);
}

.hero .front {
  z-index: 0;
  top: 250px;
}

.hero .title {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 1000px;
  z-index: -2;
  pointer-events: none;
}

.main-wrapper {
  margin-top: 550px;
  padding: 20px;
  z-index: 1;
  background: #5c5467;
}

.main {
  max-width: 1200px;
  display: inline;
}

.main-nav {
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
}

@media (max-width: 600px) {
  .main-nav {
    flex-direction: column;
  }
}

.hero .mountains,
.hero .title,
.main-nav {
  will-change: transform;
}

.main-nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.main-nav li {
  position: relative;
  display: flex;
  flex: 1 1 150px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
}

.main-nav a {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  text-align: center;
  width: 100%;
  color: #5c5467;
}

.main-nav li:hover {
  position: relative;
  top: 1px;
}

.main-nav li:hover a {
  text-decoration: none;
}

.main-nav li:active {
  position: relative;
  top: 2px;
}

.main-nav li:active a {
  text-decoration: none;
}
